numpy===1.16.0
stanfordnlp===0.2.0
wget
torch===1.6.0
torchvision===0.7.0
consecution===0.2.0
pandas===1.0.3
nltk===3.5
# need nltk.download('punkt')
spacy===2.2.1
# need python -m spacy download en
spacy-ann-linker
# neuralcoref===4.0
hammock===0.2.4
pyyaml
datefinder
dateparser
tagme
textrazor
MeaningCloud-python
elasticsearch
tqdm==4.47.0
requests
gdown
sparql-client
flask

