numpy
stanfordnlp
wget
torch
torchvision
consecution
pandas
nltk
spacy
spacy-ann-linker
hammock
pyyaml
datefinder
dateparser
tagme
textrazor
MeaningCloud-python
elasticsearch
tqdm
requests
gdown
sparql-client
flask