numpy==1.18.2
stanfordnlp==0.2.0
wget==3.2
torch===1.6.0
torchvision==0.7.0
consecution==0.2.0
pandas==1.0.3
nltk==3.5
# need nltk.download('punkt')
spacy
# need python -m spacy download en
spacy-ann-linker
neuralcoref==4.0
hammock==0.2.4
pyyaml
datefinder
dateparser
tagme
textrazor
MeaningCloud-python
elasticsearch
tqdm
requests
